@model IEnumerable<AboutVideo> 
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                                 
                <h4 class="card-title">About Video</h4>
                @*<div class="d-flex justify-content-end">
                    <a class="btn btn-success" asp-controller="ContactCRUD" asp-action="Create">Create Contact</a>

                </div>*@
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Video link
                                </th>
                                <th>
                                    Setting
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (AboutVideo aboutVideo in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@aboutVideo.VideoLink">@aboutVideo.VideoLink</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Detail" asp-route-id="@aboutVideo.Id">
                                            <i class="mdi mdi-information-variant"></i>
                                        </a>
                                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@aboutVideo.Id">
                                            <i class="mdi mdi-border-color"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


