@model HomeSlider
@{
    ViewData["Title"] = "Detail";
}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <img style="width:450px; height:250px" src="~/img/slider/@Model.Image" />

        </div>
        <div class="text-center mt-3">
            <h2>@Model.Title </h2>
            <p>@Model.Description  </p>
        </div>
        <div class="row mt-4">
            <a class="btn btn-dark text-white" asp-controller="HomeSlider" asp-action="Index">Go Back</a>
        </div>
    </div>
