@model CourseFeature
@{
    ViewData["Title"] = "CreateCourseFature";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Category</h4>
                <form method="post" class="forms-sample mt-5" asp-action="CreateCourseFature">
                    <div class="form-group">
                        <h5>STARTS </h5>
                        <input asp-for="Starts" class="form-control" id="exampleInputUsername1" placeholder="Write About">
                        @*<textarea id="editor" asp-for="CategoryName" placeholder="Write the category name"></textarea>*@

                        <span class="text-danger" asp-validation-for="Starts"></span>
                        <h5 class="mt-3">DURATION </h5>
                        <input asp-for="Duration" class="form-control" id="exampleInputUsername1" placeholder="Write Howtoapply">
                        <span class="text-danger" asp-validation-for="Duration"></span>
                        <h5 class="mt-3">Class Duration </h5>
                        <input asp-for="Class_Duration" class="form-control" id="exampleInputUsername1" placeholder="Write Howtoapply">
                        <span class="text-danger" asp-validation-for="Class_Duration"></span>
                        <h5 class="mt-3">SKILL LEVE </h5>
                        <input asp-for="Skill_Level" class="form-control" id="exampleInputUsername1" placeholder="Write Certification">
                        <span class="text-danger" asp-validation-for="Skill_Level"></span>
                        <h5 class="mt-3">LANGUAGE </h5>
                        <input asp-for="Language" class="form-control" id="exampleInputUsername1" placeholder="Write Certification">
                        <span class="text-danger" asp-validation-for="Language"></span>
                        <h5 class="mt-3">STUDENTS </h5>
                        <input asp-for="Students" class="form-control" id="exampleInputUsername1" placeholder="Write Certification">
                        <span class="text-danger" asp-validation-for="Students"></span>
                        <h5 class="mt-3">ASSESMENTS </h5>
                        <input asp-for="Assesments" class="form-control" id="exampleInputUsername1" placeholder="Write Certification">
                        <span class="text-danger" asp-validation-for="Assesments"></span>
                        <h5 class="mt-3">Course Fee </h5>
                        <input asp-for="Course_Fee" class="form-control" id="exampleInputUsername1" placeholder="Write Certification">
                        <span class="text-danger" asp-validation-for="Course_Fee"></span>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </form>
                @*<div class="mt-3">
                    <a class="btn btn-dark text-white" asp-controller="Course" asp-action="CourseFeature">Go Back</a>
                </div>*@
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}