@model CourseContent
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <div class="text-center mt-3">

        <h3>About Course</h3>
        <p>@Model.AboutCourse</p>
        <h3 style="line-height:2;"> HowToApply Course</h3>
        <p>@Model.HowToApply</p>
        <h3>Certification Course</h3>
        <p>@Model.Certification</p>
    </div>
    <div class="row mt-4">
        <a class="btn btn-dark text-white" asp-controller="Course" asp-action="CourseContent">Go Back</a>
    </div>
</div>

