
@*@{
    ViewData["Title"] = "Index";
}

    <div class="row d-flex justify-content-center mt-5">
        <a class="btn btn-inverse-secondary" asp-action="CourseFeature">COURSE FEATURES</a>
        <a class="btn btn-inverse-secondary text-black ml-5"asp-action="Course">COURSE</a>
        <a class="btn btn-inverse-secondary text-black ml-5" asp-action="CourseContent">COURSE CONTENT</a>
    </div>*@

