@model EventCrudVM
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Event</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" class="forms-sample mt-5" enctype="multipart/form-data">
                    <div class="form-group">
                        <h5 class="mb-3">Event Image </h5>
                        <input asp-for="Event.PhotoEvent" class="form-control" id="exampleInputUsername1" accept="image/*">
                        <span class="text-danger" asp-validation-for="Event.PhotoEvent"></span>
                        <h5 class="mt-3">Event Title </h5>
                        <input asp-for="Event.Title" class="form-control" id="exampleInputUsername1" placeholder="Write the Title">
                        <span class="text-danger" asp-validation-for="Event.Title"></span>
                        <h5 class="mt-3">Event StartTime</h5>
                        <input asp-for="Event.StartTime" class="form-control" id="exampleInputUsername1" placeholder="Write the Description">
                        <span class="text-danger" asp-validation-for="Event.StartTime"></span>
                        <h5 class="mt-3">Event EndTime</h5>
                        <input asp-for="Event.EndTime" class="form-control" id="exampleInputUsername1" placeholder="Write the Description">
                        <span class="text-danger" asp-validation-for="Event.EndTime"></span>
                        <h5 class="mt-3">Event Date</h5>
                        <input asp-for="Event.Date" class="form-control" id="exampleInputUsername1" placeholder="Write the Description">
                        <span class="text-danger" asp-validation-for="Event.Date"></span>
                        <h5 class="mt-3">Event Description</h5>
                        <input asp-for="Event.Description" class="form-control" id="exampleInputUsername1" placeholder="Write the Description">
                        <span class="text-danger" asp-validation-for="Event.Description"></span>
                        <h5 class="mt-3">Event Venue</h5>
                        <input asp-for="Event.Venue" class="form-control" id="exampleInputUsername1" placeholder="Write the Description">
                        <span class="text-danger" asp-validation-for="Event.Venue"></span>
                        <h5 class="mt-3">Event Speaker </h5>

                        <select class="js-example-basic-multiple " name="states[]" multiple="multiple" style="width:50%;">
                            @foreach (Speaker speaker in Model.Speakers)
                            {
                                <option value="@speaker.Id">@speaker.FullName</option>
                            }

                        </select>
                        @*<textarea id="editor" asp-for="CategoryName" placeholder="Write the category name"></textarea>*@
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </form>
                <div class="mt-3">
                    <a class="btn btn-dark text-white" asp-controller="Event" asp-action="Index">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
}


