@model AboutWelcome
@{
    ViewData["Title"] = "Delete";
}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <img style="width:450px; height:250px" src="~/img/about/@Model.Image" />

        </div>
        <div class="text-center mt-3">
            <h2>@Model.Title </h2>
            <p>@Model.Description </p>
        </div>
        <div class="row mt-4">
            <a class="btn btn-dark text-white" asp-controller="AboutWelcome" asp-action="Index">Go Back</a>
            <form method="post" class="forms-sample ml-3">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </div>
    </div>


