@model List<Teacher>
@foreach (Teacher teacher in Model)
{
  
        <li style="list-style:none; text-align:center">
            <a href="/Teacher/Details/@teacher.Id" style="color:red; ">@teacher.FullName</a>
            <a href="/Teacher/Details/@teacher.Id"><img style="width:100px; height:100px" src="~/img/teacher/@teacher.Image" /></a>
        </li>

}
